{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>
<body>
    <div id="count">
        {{ template "count" . }}
    </div>
    <button hx-target="#count" hx-post="/count">Count</button>
</body>
</html>
{{ end }}

{{ block "count" . }}
    Count {{ .Count }}
    <!-- target allow you to clarify which element should be received this content after ajax request -->
    <button hx-target="body" hx-post="/count">Count</button>
{{ end }}